*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.color{
    color: #FFBD00;
}

.container1{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('Images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.my_btn2{
    background:transparent;
    color:#FFBD00;
    border: #FFBD00 1px solid;
}
.my_btn2:hover{
    background:#FFBD00;
    color: white;
    border: #FFBD00 1px solid;

}
.my_btn{
    
    background: #FFBD00;
    color: black;
    padding:10px ;
    border: #FFBD00 1px solid;
}
.my_btn:hover{
    background:transparent;
    color: #FFBD00;
    fill: #FFBD00;
    padding:10px ;
    border: #FFBD00 1px solid;
}

.pink{
    color: #ff60ce;
}

.icon_pley{
    fill: #ff60ce;
}

.drop_li{
    position: relative;
    /* border: 1px solid black; */
}


.drop_ul li a{
    color: black;
}

.drop_ul{
    position: absolute;
    background: #fff;
    list-style: none;
    width: 150px;
    /* height: 0; */
    /* padding: 0 15px; */
    top: 130px;
    visibility: hidden;
    opacity: 0;
    /* overflow: hidden; */
    /* top: 45px; */
    left: -40px;
    border-radius: 5px;
    transition: all .3s linear;
}
.drop_ul:hover{
    color: #ff60ce;
}
.drop_li:hover .drop_ul{
    visibility: visible;
    opacity: 1;
    /* height: 206px; */
    /* padding:15px; */
    top: 40px;
}

.home{
    color: #fff;
    text-decoration: none;
}

.home:hover{
    color:#ff60ce;
    text-decoration: none;
}
.speaker{
    color: #fff;
    text-decoration: none;
}

.speaker:hover{
    color:#ff60ce;
    text-decoration: none;
}
.scheldule{
    color: #fff;
    text-decoration: none;
}

.scheldule:hover{
    color:#ff60ce;
    text-decoration: none;
}

.location{
    color: #fff;
    text-decoration: none;
}

.location:hover{
    color:#ff60ce;
    text-decoration: none;
}
.blog{
    color: #fff;
    text-decoration: none;
}

.blog:hover{
    color:#ff60ce;
    text-decoration: none;
}
.contact{
    color: #fff;
    text-decoration: none;
}

.contact:hover{
    color:#ff60ce;
    text-decoration: none;
}

.btn_border{
    border: solid 2px #ff60ce;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 30%;
}
.btn_border:hover{
    border: solid 2px #FFBD00;
    fill: white;
    background: #FFBD00;
    border-radius: 50%;
    /* margin-left: 30%;
    margin-top: 30%; */
}

.border_on{
    border-radius: 50%;
    background: rgba(223, 218, 218, 0.1);
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.container2{
    background: black;
}
.t_color{
    color: rgba(255, 255, 255, 0.6);
}
.nav-link:focus {
    color:#ff60ce;
}

.container3{
    background: black;
}

.icon_color{
    fill: #FFBD00;
}
.py{
    padding: 50px 0;
}

.container4{
    background: black;
}
.container5{
    background: rgba(0, 0, 0, 0.9);
}

.data a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.data a:hover{
    color: #FFBD00;
    border-bottom: #FFBD00 solid 4px;
    padding-bottom: 10px;
}

.container6{
    background: black;
}

.container7{
    background: black;
}

.icon{
    fill: #fff;
}
.fecbook{
    border: solid black 1px;
    border-radius: 50%;
    background: rgb(57, 57, 206);
    padding: 8px;
}
.youtube{
    border: solid black 1px;
    border-radius: 50%;
    background:red;
    /* padding: 8px; */
    padding-left: 15px;
    padding-top: 13px;
}
.instagram{
    border: solid black 1px;
    border-radius: 50%;
    background:rgb(66, 66, 223);
    padding-left: 15px;
    padding-top: 13px;
}

.serch{
    background: transparent;
    width: 200px;
    height: 5opx;
    color: #fff;
}

